//
// Basic Border
//

@if $generate-utility-classes {
  $config: (
    properties: border,
    selector: brdr,
    values: (
      null: $border-default,
      none: 0
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
