//
// Border-direction
//

@if $generate-utility-classes {
  $config: (
    properties: border,
    selector: border,
    values: (
      null: $border-defaut
    ),
    infixes: $directions,
    enable-important-values: true
  );

  @include generate-style($config);
}
