//
// Border-direction
//

@if $generate-utility-classes {
  $config: (
    properties: border,
    selector: "border",
    values: (
      null: $border-default,
      none: 0
    ),
    infixes: top bottom right left,
    enable-important-values: true
  );

  @include generate-style($config);
}
