//
// Border-radius
//

@if $generate-utility-classes {
  $config: (
    properties: border-radius,
    selector: "is",
    values: (
      round: $border-radius-normal,
      round-sm: $border-radius-small,
      round-lg: $border-radius-large,
      circle: 50%,
      pill: $border-radius-pill,
      box: 0
    ),
    enable-important-values: true
  );

  @include generate-style($config);
  $config: (
    properties: border-top-left-radius border-top-right-radius,
    selector: round,
    values: (
      top: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-top-right-radius border-bottom-right-radius,
    selector: round,
    values: (
      right: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-bottom-right-radius border-bottom-left-radius,
    selector: round,
    values: (
      bottom: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-top-left-radius border-bottom-left-radius,
    selector: round,
    values: (
      left: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
