//
// Border-radius
//

@if $generate-utility-classes {
  $config: (
    properties: border-radius,
    selector: is,
    values: (
      rounded: $border-radius-normal,
      rounded-sm: $border-radius-small,
      rounded-lg: $border-radius-large,
      circle: 50%,
      pill: $border-radius-pill,
      boxed: 0
    ),
    enable-important-values: true
  );

  @include generate-style($config);
  $config: (
    properties: border-top-left-radius border-top-right-radius,
    selector: rounded,
    values: (
      top: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-top-right-radius border-bottom-right-radius,
    selector: rounded,
    values: (
      right: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-bottom-right-radius border-bottom-left-radius,
    selector: rounded,
    values: (
      bottom: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: border-top-left-radius border-bottom-left-radius,
    selector: rounded,
    values: (
      left: $border-radius-default
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
