//
// Border-Size
//

@if $generate-utility-classes {
  $config: (
    properties: border-width,
    selector: "brdr",
    values: (
      wide: $borderwidth-wide
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
