//
// Border-style
//

@if $generate-utility-classes {
  $config: (
    properties: border-style,
    values: dotted dashed solid double groove ridge inset outset,
    selector: brdr,
    enable-important-values: true
  );

  @include generate-style($config);
}
