//
// Border-style
//

@if $generate-utility-classes {
  $config: (
    properties: border-style,
    class: border,
    values: dotted dashed solid double groove ridge inset outset,
    enable-important-values: true
  );

  @include generate-class($config);
}
