//
// Container helper
//

@if $generate-helper-classes {
  //
  // Doc : add Doc
  //
  .container {
    width: 100%;
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: auto;
    margin-left: auto;

    // For each breakpoint, define the maximum width of the container in a media query
    @each $breakpoint, $container-max-width in $container-max-widths {
      @include media-breakpoint-above($breakpoint) {
        max-width: $container-max-width;
      }
    }
  }

  // Fluid container
  //
  // Utilizes the mixin meant for fixed width containers, but with 100% width for
  // fluid, full width layouts.

  .container-fluid {
    width: 100%;
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
    margin-right: auto;
    margin-left: auto;
  }
}
