//
// Icon
//

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $icon-size;
  height: $icon-size;
}

// Sizes
.icon.is-small {
  width: $icon-size-small;
  height: $icon-size-small;
}
.icon.is-medium {
  width: $icon-size-medium;
  height: $icon-size-medium;
}
.icon.is-large {
  width: $icon-size-large;
  height: $icon-size-large;
}
