@if $generate-helper-classes {
  //
  // Doc : add Doc
  //
  .image-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  //
  // Doc : add Doc
  //
  .image {
    max-width: 100%;
    height: auto;
  }
}
