//
// Layout helper
//

@if $generate-helper-classes {
  //
  // Doc : add Doc
  //
  .layout-main {
    z-index: 1;
    color: $body-color;
    background-color: $body-bg;
  }

  //
  // Doc : add Doc
  //
  .layout-header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-left: $header-padding/2;
    padding-right: $header-padding/2;
    z-index: $header-zindex;
    color: $header-color;
    background-color: $header-bg;
  }

  //
  // Doc : add Doc
  //
  .layout-sidebar {
    @include transition(left 0.5s ease-in-out);
    position: fixed;
    left: calc(-100% - (5px * 2));
    top: 0;
    bottom: 0;
    width: 250px;
    padding: $sidebar-padding;
    z-index: $sidebar-zindex;
    color: $sidebar-color;
    background-color: $sidebar-bg;
  }

  .layout-sidebar:target,
  .layout-sidebar.is-show {
    left: 0;
  }

  .layout-sidebar.active ~ .layout-sidebar-overley,
  .layout-sidebar:target ~ .layout-sidebar-overley {
    display: block;
  }

  .layout-sidebar-overley {
    background: rgba(48, 55, 66, 0.1);
    border-color: transparent;
    border-radius: 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
  }
  @include media-breakpoint-below(sm) {
    .layout-sidebar {
      width: 100%;
    }
  }

  //
  // Doc : add Doc
  //
  .layout-footer {
    z-index: 0;
    color: $footer-color;
    background-color: $footer-bg;
  }
}
