//
// Misc
//
@if $generate-helper-classes {
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .text-vertical {
    rotate: 90deg;
    transform-origin: left center;
  }
  .initial-word {
    float: left;
    padding: 2px 8px 2px 0;
    font-size: 3em;
    line-height: 1;
  }
}
