%heading {
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-style: $headings-font-style;
  line-height: $headings-line-height;
  @extend %margintop-0; // nuke the top margin for easier control within type scales as it avoids margin collapsing
}
