//
// Scale
//

@if $generate-utility-classes {
  $config: (
    properties: transform,
    selector: "trans",
    values: (
      "x-50": translateX(50%),
      "x--50": translateX(-50%),
      "y-50": translateY(50%),
      "y--50": translateY(-50%),
      "50-50": translate(50%, 50%),
      "-50--50": translate(-50%, -50%),
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
