//
// Basic Border
//

@if $generate-utilities-classes {
  $config: (
    properties: border,
    class: border,
    values: (
      null: $border-width-default solid $border-color,
      none: none
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
