//
// Border-direction
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: border,
    class: border,
    values: (
      null: $border-width-default solid $border-color
    ),
    infixes: $directions,
    enable-important-values: true
  );

  @include generate-class($config);
}
