//
// Border-radius
//

@if $generate-utility-classes {
  $config: (
    properties: border-radius,
    class: is,
    values: (
      rounded: $border-radius-normal,
      rounded-sm: $border-radius-small,
      rounded-lg: $border-radius-large,
      circle: 50%,
      pill: $border-radius-pill,
      boxed: 0
    ),
    enable-important-values: true
  );

  @include generate-class($config);

  .is-rounded-top {
    // avoid using @mixin is-rounded-top to generate radius independent of `$design-rounded-else-box` option
    // stylelint-disable-next-line declaration-no-important
    border-top-left-radius: $border-radius-default !important;
    // stylelint-disable-next-line declaration-no-important
    border-top-right-radius: $border-radius-default !important;
  }
  .is-rounded-right {
    // avoid using @mixin is-rounded-right to generate radius independent of `$design-rounded-else-box` option
    // stylelint-disable-next-line declaration-no-important
    border-top-right-radius: $border-radius-default !important;
    // stylelint-disable-next-line declaration-no-important
    border-bottom-right-radius: $border-radius-default !important;
  }
  .is-rounded-bottom {
    // avoid using @mixin is-rounded-bottom to generate radius independent of `$design-rounded-else-box` option
    // stylelint-disable-next-line declaration-no-important
    border-bottom-right-radius: $border-radius-default !important;
    // stylelint-disable-next-line declaration-no-important
    border-bottom-left-radius: $border-radius-default !important;
  }
  .is-rounded-left {
    // avoid using @mixin is-rounded-left to generate radius independent of `$design-rounded-else-box` option
    // stylelint-disable-next-line declaration-no-important
    border-top-left-radius: $border-radius-default !important;
    // stylelint-disable-next-line declaration-no-important
    border-bottom-left-radius: $border-radius-default !important;
  }
}
