//
// Border-radius
//

@if $generate-utilities-classes and $design-rounded-else-box {
  $config: (
    responsive: false,
    properties: border-radius,
    class: is-rounded,
    values: (
      null: $border-radius-default,
      sm: $border-radius-small,
      lg: $border-radius-large,
      circle: 50%,
      pill: $border-radius-pill,
      none: none
    )
  );

  @include generate-class($config);

  .is-rounded-top {
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
  }
  .is-rounded-right {
    border-top-right-radius: $border-radius-default;
    border-bottom-right-radius: $border-radius-default;
  }
  .is-rounded-bottom {
    border-bottom-right-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
  }
  .is-rounded-left {
    border-top-left-radius: $border-radius-default;
    border-bottom-left-radius: $border-radius-default;
  }
}
