//
// Height
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: height,
    class: h,
    values:
    map-merge(
      $sizes,
      (
        25vh: 25vh,
        50vh: 50vh,
        75vh: 75vh,
        100vh: 100vh,
        auto: auto,
        fit: fit-content,
        vmax: 100vmax,
        vmin: 100vmin,
        fill: stretch
      )
    )
  );

  @include generate-class($config);

  $config: (
    responsive: false,
    properties: min-height,
    class: h-min,
    values: (
      25vh: 25vh,
      50vh: 50vh,
      75vh: 75vh,
      100vh: 100vh,
      vmax: 100vmax,
      vmin: 100vmin
    )
  );

  @include generate-class($config);
}
