//
// Align
//

@if $generate-grid-classes {
  $config: (
    responsive: true,
    properties: align-items,
    class: flex,
    values: (
      top: flex-start,
      middle: center,
      bottom: flex-end,
      baseline: baseline,
      stretch: stretch
    )
  );

  @include generate-class($config);

  $config: (
    responsive: true,
    properties: align-content,
    class: flex-content,
    values: (
      top: flex-start,
      middle: center,
      bottom: flex-end,
      baseline: baseline,
      stretch: stretch
    )
  );

  @include generate-class($config);

  $config: (
    responsive: true,
    properties: align-self,
    class: align,
    values: (
      top: flex-start,
      middle: center,
      bottom: flex-end,
      baseline: baseline,
      stretch: stretch
    )
  );

  @include generate-class($config);
}
