//
// Grid direction
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: flex-direction,
    class: is,
    values: (
      horizontal: row,
      vertical: column,
      horizontal-reverse: row-reverse,
      vertical-reverse: column-reverse
    )
  );

  @include generate-class($config);
}
