//
// Flex-fill
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: flex,
    class: flex,
    values: (
      fill: 1 1 auto
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
