//
// Justify-content
//

@if $generate-utilities-classes {
  $config: (
    responsive: true,
    properties: justify-content,
    class: flex,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around
    )
  );

  @include generate-class($config);
}
