//
// Justify-content
//

@if $generate-grid-classes {
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: true,
    properties: justify-content,
    class: grid,
    values: (
      start: flex-start,
      end: flex-end,
      center: center,
      between: space-between,
      around: space-around
    )
  );

  @include generate-class($config);
}
