//
// Grid-wrap
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: flex-wrap,
    class: flex,
    values: wrap nowrap wrap-reverse
  );

  @include generate-class($config);
}
