//
// Color Contrast
//

//
// clr-contrast
// Functions used to get contrast of a given $color.
// Contrast is the difference in luminance or colour that makes an object distinguishable.
// For more info see https://www.w3.org/TR/WCAG20-TECHS/G17.html#G17-tests
//
// Parameters:
// {Color} $color - Color
// {Color} $base - Color used as $base
//
// Return:
// {Number} 1 is for 0% contrast, 21 is for 100% contrast
//
@function clr-contrast($color, $base) {
  $color-luminance: clr-luminance($color) + .05;
  $fore-luminance: clr-luminance($base) + .05;

  $contrast: max($color-luminance, $fore-luminance) / min($color-luminance, $fore-luminance);

  @return $contrast;
}
