//
// list-remove
// remove specified value from a list
//
// Parameters:
// {List} $list - list to remove from
// {*} $value - value to remove
// [optional] {Boolean} $recursive - used to delete recursively
//
// Example of use:
// $a: [foo bar baz qux];
// $result: list-remove($a, "bar") =>  [foo baz qux]
//
// Return:
// {List} new list
//

@function list-remove($list, $value, $recursive: false) {
  $result: ();

  @if length($list) == 0 {
    @error "Can not remove `#{$value}` from `#{$list}`. $list is empty or null";
  }

  @for $i from 1 through length($list) {
    @if type-of(nth($list, $i)) == list and $recursive {
      $result: append($result, list-remove(nth($list, $i), $value, $recursive));
    } @else if nth($list, $i) != $value {
      $result: append($result, nth($list, $i));
    }
  }

  @return $result;
}
