//
// str-explode
// Split a string by delimiter
//
// Parameters:
// {String}`$string` String
// [optional] {String}`$delimiter` String
//
// Example of use:
// $result: str-explode('some-things-will-never-change', '-') => $result: some things will never change
//
// Return:
// {List} of string
//
@function str-explode($string, $delimiter: ".") {
  @if type-of($string) != "string" {
    @error "The argument $string: `#{$string}` is of incorrect type: `#{type-of($string)}`. Type of `string` is required!";
  } @else if type-of($delimiter) != "string" {
    @error "The argument $string: `#{$string}` is of incorrect type: `#{type-of($string)}`. Type of `string` is required!";
  }

  $result: ();
  $running: true;

  @if str-length($delimiter) == 0 {
    @for $i from 1 through str-length($string) {
      $result: append($result, str-slice($string, $i, $i));
    }

    @return $result;
  }

  @while $running {
    $index: str-index($string, $delimiter);

    @if $index != null {
      $item: str-slice($string, 1, ($index - 1));
      $result: append($result, $item);
      $string: str-slice($string, ($index + str-length($delimiter)));
    } @else {
      $running: false;
    }
  }

  @return append($result, $string);
}
