//
// to-list
// Takes a map and convert it into list
//
// Parameters:
// {Map} $map - map to convert
// [optional] {String} $keep - check to keep value(s) or key(s) or both in result list
//
// Example of use:
// $a : (a:1,b:2,c:3,d:4);
// $result: to-list($a,'keys'); => $result : (a,b,c,d);
//
// Return:
// {List} new list
//
@function to-list($map, $keep: "both") {
  @if $keep != "keys" and $keep != "values" and $keep != "both" {
    @error "The argument $keep have incorrect value: `#{$keep}`. value `keys` `values` `both` is expected!";
  }
  @if type-of($map) != "map" {
    @error "The argument $map: `#{$map}` is of incorrect type: `#{type-of($map)}`. Type of `Map` is required!";
  }

  @if $keep == "keys" {
    @return map-keys($map);
  } @else if $keep == "values" {
    @return map-values($map);
  } @else {
    $keys: ();
    $values: ();

    @each $key, $val in $map {
      $keys: append($keys, $key);
      $values: append($values, $val);
    }
    @return zip($keys, $values);
  }
}
