//
// Flex-direction
//

@if $generate-grid-classes {
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: true,
    properties: flex-direction,
    class: grid,
    values: row column row-reverse column-reverse
  );

  @include generate-class($config);
}
