//
// Doc : add Doc
//
@if $generate-object-classes {
  .divider {
    display: flex;
    opacity: $controls-disabled-opacity;
    color: $dark; // override color // Idea : let divider inherit color ?
    white-space: nowrap; // prevent wrapping of text
    line-height: $line-height; // override line-height to default because margin calculations depend on it

    @include after {
      content: "";
      align-self: center;
      width: 100%;
      opacity: inherit;
      border-top: 1px solid currentColor;
    }

    &:not(:empty) {
      @include after {
        margin-left: $controls-padding-x / 2;
      }
    }
  }
}
