//
// Divider
//
// used to separating elements by showing line with text in center
//
// Modifiers:
//  is-y : Makes Divider Vertical
//  is-left : align text position to left inside divider
//  is-right : align text position to right inside divider
//
@if $generate-object-classes {
  .divider {
    display: flex;
    height: 100%; // spread to full height when vertical
    opacity: $controls-disabled-opacity;
    text-align: center; // align text in center when vertical
    white-space: nowrap; // prevent wrapping of text

    @include before-after {
      content: "";
      align-self: center;
      width: 100%;
      border-top: 1px solid currentColor;
    }

    &.is-y {
      @include before-after {
        width: auto; // override horizontal style
        height: 100%;
        border-top: 0; // override horizontal style
        border-left: 1px solid currentColor;
      }
    }

    &:not(:empty) {
      @include before-after {
        margin: $controls-padding-y $controls-padding-x / 2;
      }
    }
  }

  .divider.is-left {
    @include before {
      width: 5%;
    }
  }

  .divider.is-right {
    @include after {
      width: 5%;
    }
  }
}
