@if $generate-object-classes {
  //
  // Doc : add Doc
  //
  .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  //
  // Doc : add Doc
  //
  .img {
    max-width: 100%;
    height: auto;
  }
}
