//
// Icon
//

@if $generate-object-classes {
  @if $enable-experimental-css {
    //
    // Note : Experimental Feature
    // Issue : Doesn't work on Internet Explorer, Firefox, Edge 44
    // Doc : add doc
    //
    .scrollbar {
      &::-webkit-scrollbar {
        width: 7px;
        height: 7px;
        background-color: $gray-100;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: $borderradius-pill;
        background-color: rgba($dark, .65);
      }

      // stylelint-disable-next-line selector-pseudo-class-blacklist
      &::-webkit-scrollbar-thumb:hover {
        background-color: $dark;
      }

      // stylelint-disable-next-line selector-pseudo-class-blacklist
      &::-webkit-scrollbar:hover {
        background-color: $gray-200;
      }
    }
  }
}
