//
// Icon
//

@if $generate-object-classes {
  @if $enable-experimental-css {
    //
    // Note : Experimental Feature
    // Issue : Doesn't work on Internet Explorer, Firefox, Edge 44
    // Doc : add doc
    //
    .scrollbar {
      &::-webkit-scrollbar {
        width: $scrollbar-width;
        height: $scrollbar-height;
        background-color: $scrollbar-background;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: $scrollbar-thumb-radius;
        background-color: $scrollbar-thumb-background;
      }

      // stylelint-disable-next-line selector-pseudo-class-disallowed-list
      &::-webkit-scrollbar-thumb:focus {
        background-color: $scrollbar-thumb-focus-background;
      }

      // stylelint-disable-next-line selector-pseudo-class-disallowed-list
      &::-webkit-scrollbar:hover {
        background-color: $scrollbar-hover-background;
      }
    }
  }
}
