/**
 * Table of Contents:
 *        Basic Margin
 *        Margin top
 *        Margin right
 *        Margin bottom
 *        Margin left
 *        Margin horizontal
 *        Margin vertical
* ===============================================
*/

@if $generate-spacing-classes {
  // stylelint-disable-next-line scss/dollar-variable-default
  $sizes: $space-sizes;

  // stylelint-disable-next-line scss/dollar-variable-default
  $sizes: map-remove($sizes, 0); // Remove 0 in -ive spacing

  // stylelint-disable-next-line scss/dollar-variable-default
  $sizes: map-remove($sizes, auto); // Remove auto in -ive spacing

  // stylelint-disable-next-line scss/dollar-variable-default
  $sizes: negate($sizes, "both"); // add -ive sigh to both size and value

  //
  // Basic Margin
  //

  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: false,
    properties: margin,
    class: m,
    values: $sizes
  );

  @include generate-class($config);

  //
  // Directional Margin
  //

  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: false,
    properties: margin,
    class: m,
    values: $sizes,
    infixes: $directions,
    disable-prefix-infixes-keys: true
  );

  @include generate-class($config);

  //
  //  Margin horizontal
  //

  // Idea : remove because it isn't used often ?
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: true,
    properties: margin-left margin-right,
    class: mx,
    values: $sizes
  );

  @include generate-class($config);

  //
  //  Margin vertical
  //

  // Idea : remove because it isn't used often ?
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: true,
    properties: margin-top margin-bottom,
    class: my,
    values: $sizes
  );

  @include generate-class($config);
}
