/**
 * Table of Contents:
 *        Basic Margin
 *        Margin top
 *        Margin right
 *        Margin bottom
 *        Margin left
 *        Margin horizontal
 *        Margin vertical
 *        Basic Padding
 *        Padding top
 *        Padding right
 *        Padding bottom
 *        Padding left
 *        padding horizontal
 *        padding vertical
* ===============================================
*/

@if $generate-spacing-classes {
  $sizes: $space-sizes;

  //
  // Basic Margin
  //

  $config: (
    properties: margin,
    selector: m,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  // Directional Margin
  //

  $config: (
    properties: margin,
    selector: m,
    values: $sizes,
    infixes: $directions,
    disable-prefix-infixes-keys: true,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  //  Margin horizontal
  //

  $config: (
    responsive: true,
    properties: margin-left margin-right,
    selector: mx,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  //  Margin vertical
  //

  $config: (
    responsive: true,
    properties: margin-top margin-bottom,
    selector: my,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  // Basic padding
  //

  $config: (
    responsive: true,
    properties: padding,
    selector: p,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  // Directional padding
  //

  $config: (
    responsive: true,
    properties: padding,
    selector: p,
    values: $sizes,
    infixes: $directions,
    disable-prefix-infixes-keys: true,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  //  padding horizontal
  //

  $config: (
    responsive: true,
    properties: padding-left padding-right,
    selector: px,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);

  //
  //  padding vertical
  //

  $config: (
    responsive: true,
    properties: padding-top padding-bottom,
    selector: py,
    values: $sizes,
    enable-important-values: true
  );

  @include generate-style($config);
}
