//
// Stretched link
//

@if $generate-object-classes {
  //
  // Doc : add Doc
  //
  .stretch-link {
    @include after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      pointer-events: auto;
      background-color: transparent;
    }
  }
}
