%controls {
  position: relative;
  display: inline-block;
  user-select: none;
  padding: $controls-padding-y $controls-padding-x;
  margin-top: 2.25px; // Used to keep consistent spacing between above and below elements
  margin-bottom: 2.25px; // Used to keep consistent spacing between above and below elements
  border: $controls-border-width solid $controls-border-color;
  border-radius: border-radius($controls-border-radius, 0);
  color: $controls-color;
  background-color: $controls-background;
  vertical-align: middle;
  text-decoration: none;
  font-family: $controls-font-family;
  font-weight: $controls-font-weight;
  line-height: $controls-line-height;
  @include fontsize();
  @include transition($controls-transition);

  @include hover {
    box-shadow: box-shadow($controls-focus-box-shadow rgba($controls-theme, .5));
  }

  @include focus {
    @include animation(pulse); // pulse animation on click event
    outline: 0;
  }

  // using !important on active disable so that they override control states styles

  @include active {
    // stylelint-disable-next-line declaration-no-important, property-blacklist
    animation: none !important; // disable animations on click event and play again on focus/clickup event
    // stylelint-disable-next-line declaration-no-important
    box-shadow: box-shadow(none) !important; // no shadow in clicked state
  }

  @include disabled {
    @extend %controls-disabled;
  }
}

%controls-label {
  @include focus {
    ~ label {
      @include before {
        @include animation(pulse); // pulse animation on click event
      }
    }
  }

  @include active(":checked") {
    ~ label {
      @include before {
        border-color: currentColor;
        background: currentColor;
      }
    }
  }

  ~ label {
    cursor: pointer;
    padding-right: .5rem;
    padding-left: $controls-label-paddingleft;
    margin-bottom: 0; // override label margin bottom inside control

    @include before {
      @extend %controls;
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: $controls-label-before-size;
      height: $controls-label-before-size;
      padding: 0; // override controls padding
      margin: 0; // override controls margin
      border-color: $controls-label-bordercolor;
      background-color: $controls-label-background;
      @include fontsize(unset); // override controls font-size
    }
  }

  //
  // Color variants
  //
  @each $color, $value in $theme-colors {
    &.is-#{$color} {
      ~ label {
        @include before {
          color: $value;
        }
      }
    }
  }

  @include disabled {
    ~ label {
      @extend %controls-disabled;
      @include before {
        // stylelint-disable-next-line declaration-no-important
        color: $controls-theme-light !important;
      }
    }
  }
}

%controls-hide {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

%controls-disabled {
  // stylelint-disable-next-line declaration-no-important
  pointer-events: none !important;
  // stylelint-disable-next-line declaration-no-important
  opacity: $controls-disabled-opacity !important;
}
