%display-block {
  display: block;
}

%display-inlineblock {
  display: inline-block;
}

%verticalalign-baseline {
  vertical-align: baseline;
}

%-webkitappearance-none {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: none;
}

%-webkitappearance-button {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: button;
}

%-webkitappearance-textfield {
  // stylelint-disable-next-line property-no-vendor-prefix
  -webkit-appearance: textfield;
}

%color-inherit {
  color: inherit;
}

%lineheight-inherit {
  line-height: inherit;
}

%padding-0 {
  padding: 0;
}

%border-0 {
  border: 0;
}

%borderstyle-none {
  border-style: none;
}

%margintop-0 {
  margin-top: 0;
}

%margin-0 {
  margin: 0;
}

%overflow-auto {
  overflow: auto;
}

%position-relative {
  position: relative;
}

%cursor-pointer {
  cursor: pointer;
}
