%group-margin-x {
  margin-right: -$controls-borderwidth / 2;
  margin-left: -$controls-borderwidth / 2;
}

%group-margin-y {
  margin-top: -$controls-borderwidth / 2;
  margin-bottom: -$controls-borderwidth / 2;
}

%group-border-x-0 {
  border-right: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
  border-left: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-border-y-0 {
  border-top: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
  border-bottom: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-border-top-0 {
  border-top: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-border-right-0 {
  border-right: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-border-bottom-0 {
  border-bottom: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-border-left-0 {
  border-left: 0; // avoid using @function border, to remove borders independent of `$design-shadow-or-border` option
}

%group-borderradius-0 {
  border-radius: border-radius(0);
}

%group-borderradius-top {
  @include border-radius-top($controls-borderradius);
}

%group-borderradius-right {
  @include border-radius-right($controls-borderradius);
}

%group-borderradius-bottom {
  @include border-radius-bottom($controls-borderradius);
}

%group-borderradius-left {
  @include border-radius-left($controls-borderradius);
}
