%input-state {
  padding-right: $input-icon-padding;
  background-repeat: no-repeat;
  background-position: right $input-icon-position-right center;
  background-size: $input-icon-size $input-icon-size;
}
