//
// Border Radius
//

// top side border radius
@mixin border-radius-top($radius: $border-radius-default) {
  @if $design-rounded-else-box {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}

// right side border radius
@mixin border-radius-right($radius: $border-radius-default) {
  @if $design-rounded-else-box {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

// bottom side border radius
@mixin border-radius-bottom($radius: $border-radius-default) {
  @if $design-rounded-else-box {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

// left side border radius
@mixin border-radius-left($radius: $border-radius-default) {
  @if $design-rounded-else-box {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}
