//
// Border Radius
//

// all side border radius
@mixin border-radius($radius: $border-radius) {
  @if $design-rounded-else-box {
    border-radius: $radius;
  }
}

// top side border radius
@mixin border-top-radius($radius) {
  @if $design-rounded-else-box {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
  }
}

// right side border radius
@mixin border-right-radius($radius) {
  @if $design-rounded-else-box {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

// bottom side border radius
@mixin border-bottom-radius($radius) {
  @if $design-rounded-else-box {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

// left side border radius
@mixin border-left-radius($radius) {
  @if $design-rounded-else-box {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }
}

// top side border radius
@mixin border-top-left-radius($radius) {
  @if $design-rounded-else-box {
    border-top-left-radius: $radius;
  }
}

// top side border radius
@mixin border-top-right-radius($radius) {
  @if $design-rounded-else-box {
    border-top-right-radius: $radius;
  }
}

// bottom side border radius
@mixin border-bottom-right-radius($radius) {
  @if $design-rounded-else-box {
    border-bottom-right-radius: $radius;
  }
}

// bottom side border radius
@mixin border-bottom-left-radius($radius) {
  @if $design-rounded-else-box {
    border-bottom-left-radius: $radius;
  }
}
