//
// Shadow Mixin
//

//
// box-shadow
// Mixin Used to control and generate box-shadow
//
// Parameters:
// {String} $shadows - shadows strings
@mixin box-shadow($shadows...) {
  @if $design-shadow-else-border {
    $result: ();

    // Filter to avoid invalid values
    // for example `box-shadow: none, 1px 1px black;`
    @for $i from 1 through length($shadows) {
      @if nth($shadows, $i) != "none" {
        $result: suffix($result, ",") + nth($shadows, $i);
      }
    }
    // if there are some values left after filtration
    @if (length($result) > 0) {
      box-shadow: $result;
    }
  }
}
