//
// DOC : Add Documentation
//

@mixin generate-class($class-config) {
  $properties: map-get($class-config, "properties");
  $values: to-map(map-get($class-config, "values"));
  $class: map-get($class-config, "class");
  $infixes: map-has-key($class-config, "infixes") and map-get($class-config, "infixes");
  $responsive: map-has-key($class-config, responsive) and map-get($class-config, responsive) == true;
  $disable-prefix-infixes-keys: map-has-key($class-config, "disable-prefix-infixes-keys") and map-get($class-config, "disable-prefix-infixes-keys");
  $disable-prefix-infixes-values: map-has-key($class-config, "disable-prefix-infixes-values") and map-get($class-config, "disable-prefix-infixes-values");

  @each $breakpoint in map-keys( if($responsive, $breakpoints, (null: null)) ) {
    @include media-breakpoint-above($breakpoint) {
      $infixes: to-map(if($infixes, $infixes, null));
      @each $infix-key, $infix-value in $infixes {
        @if not $disable-prefix-infixes-keys {
          $infix-key: prefix($infix-key, "-");
        }

        @if not $disable-prefix-infixes-values {
          $infix-value: prefix($infix-value, "-");
        }

        $breakpoint-suffix: prefix(breakpoint-name($breakpoint), "\\"+ $breakpoints-prefix);

        @each $key, $value in $values {
          $key: prefix($key, "-");

          .#{$class}#{$infix-key}#{$key}#{$breakpoint-suffix} {
            @each $property in $properties {
              #{$property}#{$infix-value}: $value;
            }
          }
        }
      }
    }
  }
}
