// stylelint-disable property-blacklist
//
// Transition Mixin
//

//
// transition
// Mixin using transition function to optimize transition and
// disable transition at prefers-reduced-motion-media-query
//
// Parameters:
// {String,List} $transitions - transitions strings
@mixin transition($transitions...) {
  @if $enable-transitions {
    transition: transition($transitions);

    @if $enable-prefers-reduced-motion-media-query {
      @extend %prefers-reduced-motion;
    }
  }
}

//
// transition
// Function optimize, check and control transition
//
// Parameters:
// {String,List} $transitions - transitions strings
@function transition($transitions...) {
  $transition-combined: ();
  $first-value: nth($transitions, 1);

  // if no input argument is give
  @if length($transitions) == 0 {
    $transition-combined: all .2s ease-in-out; // Default transition
  } @else if length($transitions) == 1 and ($first-value == none or $first-value == null or $first-value == auto or $first-value == inherit) {
    $transition-combined: $first-value;
  } @else {
    @each $transition in $transitions {
      @if list-separator($transition) == comma {
        @each $sub-transition in $transition {
          // reclusively check each value in list
          $transition-combined: suffix($transition-combined, ",") + transition($sub-transition);
        }
        @return $transition-combined;
      }

      @if length($transition) == 1 {
        $transition-combined: suffix($transition-combined, ",") + $transition .15s ease-in-out;
      } @else {
        $transition-combined: suffix($transition-combined, ",") + $transition;
      }
    }
  }
  @return $transition-combined;
}

//
// animation
// Mixin Used to generate animation
//
// Arguments:
// {String} $name - Name of the animation
// [optional] {Boolean} $infinite - used to set animation to infinite
// [optional] {Time} $duration - Duration of animation
// [optional] {Animation function} $function - Animation function
//
@mixin animation($name, $infinite: false, $duration: 1s, $function: ease-out) {
  @if $enable-transitions {
    @if ($name == none) {
      animation: none;
    } @else {
      @include include-keyframe($name);
      $infinite: if($infinite, infinite, null);
      animation: $name $duration $function both $infinite;
    }
  }
}

@mixin include-keyframe($name) {
  $imported-pulse: false !default;
  $imported-pulse-solid: false !default;
  $imported-flash: false !default;
  $imported-spin: false !default;

  @if $name == pulse and not $imported-pulse {
    $imported-pulse: true;
    @keyframes pulse {
      from {
        box-shadow: box-shadow(0 0 0 0 currentColor);
      }
      75% {
        box-shadow: box-shadow(0 0 0 ($control-focus-width * 1.5) transparent);
      }
      76% {
        box-shadow: box-shadow(none);
      }
    }
  } @else if $name == pulse-solid and not $imported-pulse-solid {
    $imported-pulse-solid: true;
    @keyframes pulse-solid {
      from {
        box-shadow: box-shadow(0 0 0 0 $gray-500);
      }
      75% {
        box-shadow: box-shadow(0 0 0 ($control-focus-width * 1.5) transparent);
      }
      76% {
        box-shadow: box-shadow(none);
      }
    }
  } @else if $name == flash and not $imported-flash {
    $imported-flash: true;
    @keyframes flash {
      from,
      50%,
      to {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }
  } @else if $name == spin and not $imported-spin {
    $imported-spin: true;
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  } @else {
    @error "animation keyframe for animation #{$name} not found.";
  }
}
