//
// Display
//

@if $generate-utility-classes {
  $config: (
    responsive: true,
    properties: display,
    selector: "",
    values: (
      hidden: none,
      inline: inline,
      inline-block: inline-block,
      block: block,
      table: table,
      table-row: table-row,
      table-cell: table-cell,
      flex: flex,
      inline-flex: inline-flex
    ),
    disable-prefix-values-keys: true,
    enable-important-values: true
  );

  @include generate-style($config);

  @media print {
    $config: (
      properties: display,
      selector: "print",
      values: (
        hidden: none,
        inline: inline,
        inline-block: inline-block,
        block: block,
        table: table,
        table-row: table-row,
        table-cell: table-cell,
        flex: flex,
        inline-flex: inline-flex
      ),
      enable-important-values: true
    );

    @include generate-style($config);
  }
}
