//
// Position
//

@if $generate-utility-classes {
  $config: (
    properties: position,
    class: "",
    values: static relative absolute fixed sticky,
    disable-prefix-values-keys: true,
    enable-important-values: true
  );

  @include generate-class($config);

  //
  // Doc : Add Documentation
  //

  $config: (
    properties: "",
    class: "",
    values: (
      0: 0%,
      100: 100%
    ),
    infixes: $directions,
    disable-prefix-infixes-keys: true,
    disable-prefix-infixes-values: true,
    enable-important-values: true
  );

  @include generate-class($config);
}
