//
// Shadow
//

//
// Todo : add color variants
//
@if $generate-utility-classes {
  $config: (
    properties: box-shadow,
    selector: shadow,
    values: (
      sm: $shadow-small,
      null: $shadow-normal,
      lg: $shadow-large,
      round: $shadow-round,
      none: none
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
