//
// SVG shadow
//

@if $generate-utility-classes {
  $config: (
    properties: filter,
    selector: "svg-shadow",
    values: (
      sm: drop-shadow(-.62rem .125rem .05rem rgba(0, 0, 0, .075)),
      null: drop-shadow(-.25rem .5rem .2rem rgba(0, 0, 0, .15)),
      lg: drop-shadow(-.5rem 1rem .6rem rgba(0, 0, 0, .175)),
      round: drop-shadow(-.5rem 1rem .04rem rgba(0, 0, 0, 1))
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
