//
// Grid direction
//

@if $generate-utility-classes {
  $config: (
    properties: flex-direction,
    selector: is,
    values: (
      y: row,
      x: column,
      y-rev: row-reverse,
      x-rev: column-reverse
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
