//
// Grid direction
//

@if $generate-utility-classes {
  $config: (
    properties: flex-direction,
    selector: is,
    values: (
      horizontal: row,
      vertical: column,
      horizontal-reverse: row-reverse,
      vertical-reverse: column-reverse
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
