//
// Grid-wrap
//

@if $generate-utility-classes {
  $config: (
    properties: flex-wrap,
    selector: flex,
    values: wrap nowrap wrap-reverse,
    enable-important-values: true
  );

  @include generate-style($config);
}
