//
// Width
//

@if $generate-utility-classes {

  $WIDTH: ();
  @for $i from 1 through $grid-columns {
    $WIDTH: map-merge($WIDTH, ($i : grid-col-width($i)));
  }

  $config: (
    responsive: true,
    properties: width (flex: none), // Make flex item inflexible and set it sizing according to width and height
    selector: "w",
    values: map-merge($WIDTH, (auto: auto)),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: width,
    selector: "w",
    values: (
      25vw: 25vw,
      50vw: 50vw,
      75vw: 75vw,
      100vw: 100vw,
      fit: fit-content,
      vmax: 100vmax,
      vmin: 100vmin
    ),
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: min-width,
    selector: "w-min",
    values: (
      25vw: 25vw,
      50vw: 50vw,
      75vw: 75vw,
      100vw: 100vw,
      vmax: 100vmax,
      vmin: 100vmin
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
