//
// Space Settings
//

$space-default:       1em !default; // Default Space Between elements

// Default Sizes of spaces
$space-sizes: (
  auto: auto,
  0: 0,
  5: 5%,
  10: 10%,
  15: 15%,
  20: 20%,
  30: 30%,
) !default;
