//
// Borders Settings
//

$border-color:                    $gray-300 !default;

$border-width-default:            1px !default;
$border-width-wide:               3px !default;

$border-radius-default:           .25em !default;
$border-radius-small:             .2em !default;
$border-radius-large:             .3em !default;
$border-radius-pill:              50em !default;
