//
// Borders Settings
//

$border-color:                    $gray-300 !default;

$border-width-default:            1px !default;
$border-width-wide:               3px !default;

$border-radius-default:           0.25rem !default;
$border-radius-small:             0.2rem !default;
$border-radius-large:             0.3rem !default;
$border-radius-pill:              50rem !default;
