//
// Horizontal rule Settings
//

$hr-color:           inherit !default;
$hr-opacity:         .25 !default;

// Derived Settings

$hr-height:          $border-width-default !default;
$hr-margin-y:        $space-default-typography !default;
