//
// Layout Settings
//

// Header
$header-bg:                   $white !default;
$header-color:                $gray-900 !default;

// Main and body content
$body-bg:                     $white !default;
$body-color:                  $gray-800 !default;

// Footer
$footer-bg:                   $gray-900 !default;
$footer-color:                $gray-100 !default;

// Sidebar
$sidebar-bg:                   $gray-800 !default;
$sidebar-color:                $white !default;
