//
// Layout Settings
//
// Using px unit to keep spacing constant regardless of font-size

// Header
$header-border-top:           $border-width-wide solid $primary !default;
$header-bg:                   $white !default;
$header-color:                $gray-900 !default;
$header-padding-x:            48px !default;
$header-zindex:               10 !default;
$header-height:               64px !default;
$header-height-collapsed:     $header-height * $default-small-quantity !default;

// main and body layout
$body-bg:                     $light !default;
$body-color:                  $dark !default;
$main-zindex:                 1 !default;

// Footer
$footer-bg:                   $gray-900 !default;
$footer-color:                $gray-100 !default;
$footer-padding-x:            48px !default;
$footer-padding-y:            96px !default;
$footer-zindex:               0 !default;

// Sidebar
$sidebar-bg:                  $gray-800 !default;
$sidebar-color:               $white !default;
$sidebar-padding:             28px 14px !default;
$sidebar-zindex:              15 !default;

$overlay-zindex:              11 !default;
