//
// Anchor elements Settings
//

//
// Setting
//
$link-color:                      $primary !default;
$link-decoration:                 none !default;
$link-hover-decoration:           underline !default;
$link-hover-dark-step:            3 !default;
