//
// Shadows Settings
//

//
// Setting
//
$boxshadow-small:             1px 1px 3px 0 rgba($black, .075) !default;
$boxshadow-normal:            1px 4px 6px 0 rgba($black, .15) !default;
$boxshadow-large:             2px 10px 15px 0 rgba($black, .175) !default;
$boxshadow-round:             0 5px 15px rgba($black, .15) !default;

//
// Derived
//
$boxshadow-default:           $boxshadow-normal !default;
