//
// Cursor
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: cursor,
    class: cursor,
    values: (
      hand: pointer,
      none: none,
      wait: wait,
      move: move,
      not-allowed: not-allowed,
      help: help,
      grab: grab
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
