//
// Pointer events
//

@if $generate-utilities-classes {
  $config: (
    properties: pointer-events,
    class: event,
    values: none auto,
    enable-important-values: true
  );

  @include generate-class($config);
}
