//
// Float
//

@if $generate-utilities-classes {
  $config: (
    responsive: true,
    properties: float,
    class: float,
    values: (
      left,
      right,
      none
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
