//
// Display
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: object-fit,
    class: object,
    values: contain cover fill none scale-down,
    enable-important-values: true
  );

  @include generate-class($config);
}
