//
// Opacity
//

@if $generate-utilities-classes {
  $SIZES: ();

  @each $key, $value in map-remove($sizes, 0) {
    $SIZES: map-merge($SIZES, ($key: strip-unit($value) / 100));
  }

  $config: (
    responsive: false,
    properties: opacity,
    class: opacity,
    values: $SIZES,
    enable-important-values: true
  );

  @include generate-class($config);
}
