//
// Overflow
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: overflow,
    class: overflow,
    values: (
      scroll,
      hidden,
      auto,
      visible
    )
  );

  @include generate-class($config);

  //
  // Overflow horizontal and vertical
  //

  $config: (
    responsive: false,
    properties: overflow,
    class: overflow,
    values: (
      scroll,
      hidden,
      auto,
      visible
    ),
    infixes: x y
  );

  @include generate-class($config);
}
