//
// Position
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: position,
    class: "",
    values: static relative absolute fixed sticky,
    disable-prefix-values-keys: true
  );

  @include generate-class($config);

  //
  // Doc : Add Documentation
  //

  .top-0 { top: 0%; }
  .bottom-0 { bottom: 0%; }
  .right-0 { right: 0%; }
  .left-0 { left: 0%; }
  .top-100 { top: 100%; }
  .bottom-100 { bottom: 100%; }
  .right-100 { right: 100%; }
  .left-100 { left: 100%; }
}
