//
// Position
//

@if $generate-utilities-classes {
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: false,
    properties: position,
    class: position,
    values: static relative absolute fixed sticky
  );

  @include generate-class($config);

  //
  // Doc : Add Documentation
  //

  // stylelint-disable-next-line scss/dollar-variable-default
  $classname: null;

  // if values $config contain "absolute"
  @if map-has-key(to-map(map-get($config, values)), "absolute") {
    $classname: join($classname, #{".#{map-get($config, class)}"}-absolute, comma);
  }
  // if values $config contain "fixed"
  @if map-has-key(to-map(map-get($config, values)), "fixed") {
    $classname: join($classname, #{".#{map-get($config, class)}"}-fixed, comma);
  }
  // if values $config contain "sticky"
  @if map-has-key(to-map(map-get($config, values)), "sticky") {
    $classname: join($classname, #{".#{map-get($config, class)}"}-sticky, comma);
  }

  @if $classname {
    #{$classname} {
      @each $direction-infix, $direction in $directions {
        &.#{$direction}-0 {
          #{$direction}: 0%;
        }
      }

      @each $direction-infix, $direction in $directions {
        &.#{$direction}-100 {
          #{$direction}: 100%;
        }
      }
    }
  }
}
