//
// Visibility
//

@if $generate-utilities-classes {
  // stylelint-disable-next-line scss/dollar-variable-default
  $config: (
    responsive: true,
    properties: visibility,
    class: is,
    values: (
      visible: visible,
      invisible: hidden
    )
  );

  @include generate-class($config);
}
