//
// Visibility
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: visibility,
    class: is,
    values: (
      visible: visible,
      invisible: hidden
    )
  );

  @include generate-class($config);
}
