//
// Visibility
//

@if $generate-utility-classes {
  $config: (
    properties: visibility,
    class: is,
    values: (
      visible: visible,
      invisible: hidden
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
