//
// z index
//

@if $generate-utility-classes {
  $config: (
    properties: z-index,
    class: z,
    values: (
      top: 9999,
      10: 10,
      0: 0,
      -10: -10,
      bottom: -9999
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
