//
// Font-weight
//

@if $generate-utility-classes {
  $config: (
    properties: font-weight,
    selector: font,
    values: (
      light: $font-weight-light,
      lighter: $font-weight-lighter,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
      bolder: $font-weight-bolder
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
