//
// font-size
//

@if $generate-utility-classes or $generate-component-classes {
  $config: (
    properties: font-size,
    selector: "is",
    values: (
      sm: fontsize($fontsize-small),
      md: fontsize($fontsize-normal),
      lg: fontsize($fontsize-large)
    ),
    enable-important-values: true
  );

  @include generate-style($config);
}
