//
// Text Decoration
//

@if $generate-utility-classes {
  $config: (
    properties: text-decoration,
    selector: "txt-decor",
    values: none underline,
    enable-important-values: true
  );

  @include generate-style($config);
}
