//
// Text-wrap
//

@if $generate-utility-classes {
  $config: (
    properties: white-space,
    class: text,
    values: (
      wrap: normal,
      nowrap: nowrap
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
