//
// Text align
//

@if $generate-utility-classes {
  $config: (
    responsive: true,
    properties: text-align,
    selector: "txt",
    values: (
      start: left,
      end: right,
      center: center,
      justify: justify,
    ),
    enable-important-values: true,
  );

  @include generate-style($config);

  $config: (
    properties: vertical-align,
    selector: "txt",
    values: baseline top middle bottom sub super,
    enable-important-values: true,
  );

  @include generate-style($config);
}
