//
// Text-align
//

@if $generate-utility-classes {
  $config: (
    responsive: true,
    properties: text-align,
    selector: text,
    values: left right center justify,
    enable-important-values: true
  );

  @include generate-style($config);

  $config: (
    properties: vertical-align,
    selector: text,
    values: baseline top middle bottom sub super,
    enable-important-values: true
  );

  @include generate-style($config);
}
