//
// input Element
//

button,
[type="button"],
[type="reset"],
[type="submit"] {
  // add "hand" cursor to non-disabled button elements.
  @include not-disabled {
    cursor: pointer;
  }
}

label {
  margin-bottom: $label-margin-bottom;
}

legend {
  margin-bottom: .5rem;
  @include fontsize($font-size-large);
}
