//
// kbd element
//

kbd {
  padding: $kbd-padding;
  border-radius: border-radius($border-radius-small);
  color: $kbd-color;
  background-color: $kbd-bg;
  font-weight: $kbd-font-weight;
  @include fontsize($kbd-font-size);

  kbd {
    @include fontsize(100%);
    font-weight: $nested-kbd-font-weight;
  }
}
