//
// Breadcrumb
//

@if $generate-component-classes {
  //
  // Base styles
  //

  .breadcrumb {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    padding: $breadcrumb-padding-y $breadcrumb-padding-x;
    margin-bottom: $breadcrumb-marginbottom;
    @include fontsize();

    a {
      @include hover {
        text-decoration: none;
      }
    }
  }

  .breadcrumb-item {
    padding-right: $breadcrumb-item-padding-x;

    &:not(:first-child) {
      @include before {
        content: quote($breadcrumb-divider);
        padding-right: $breadcrumb-item-padding-x / 2;
        color: $breadcrumb-divider-color;
      }
    }

    @include active {
      color: $breadcrumb-active-color;
    }

    &[data-separator] {
      &:not(:first-child) {
        @include before {
          content: attr(data-separator);
        }
      }
    }
  }
}
