//
// Buttons
//

@if $generate-component-classes {
  // Button Base styles
  .button {
    display: inline-block;
    font-family: $button-font-family;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    color: $body-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    @include button-sizing($button-padding-y, $button-padding-x, $button-border-radius);
    @include font-size($font-size-default);
    @include transition($button-transition);

    @include hover {
      color: $body-color;
      box-shadow: 0 0 0 $button-focus-width rgba($button-theme-default, .5);
      @include focus {
        @include animation-pulse(); // pulse animation on click event
      }
    }

    @include active {
      // stylelint-disable-next-line declaration-no-important
      box-shadow: none !important; // no shadow in clicked state
      animation: none;
    }

    @include focus {
      outline: 0;
    }

    @include disabled {
      // stylelint-disable-next-line declaration-no-important
      box-shadow: none !important;
      opacity: $button-disabled-opacity;
      animation: none;
    }
  }

  //
  // Size Variants
  //

  .button.is-small {
    @include button-sizing($button-padding-y-small, $button-padding-x-small, $button-border-radius-small);
  }

  .button.is-large {
    @include button-sizing($button-padding-y-large, $button-padding-x-large, $button-border-radius-large);
  }

  //
  // Theme Variants
  //

  // Is-solid
  .button.is-solid {
    color: clr-contrast($button-theme-default);
    @include button-theme-solid($button-theme-default);

    @include active {
      @if not $design-solid-else-gradients {
        background-image: none; // Remove the gradient for the pressed/active state
      }
    }

    // Color variants
    @each $color, $value in $theme-colors {
      &.is-#{$color} {
        @include button-theme-solid($value);
      }
    }

    // disable must override all theme styles
    @include disabled {
      color: $white;
      // stylelint-disable-next-line declaration-no-important
      background: $button-disabled-bg !important;
      @if not $design-solid-else-gradients {
        background-image: none; // Remove CSS gradients if they're enabled
      }
    }
  }
}
