//
// Checkbox Control
//
.control {
  > .checkbox {
    @extend %controls-hide;
    @extend %controls-label;

    &:checked {
      ~ label {
        @include after {
          top: $checkbox-checked-top;
          transform: translate(-50%, -50%) rotate(45deg);
          width: $controls-label-before-size / 4;
          height: $controls-label-before-size / 2;
          border: $checkbox-checked-borderwidth solid $checkbox-checked-color;
          border-top-width: 0;
          border-left-width: 0;
        }
      }
    }

    &:indeterminate {
      ~ label {
        @include before {
          border-color: currentColor;
          background: currentColor;
        }

        @include after {
          content: "";
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: $controls-label-before-size / 2;
          height: $checkbox-indeterminate-height;
          background: $checkbox-indeterminate-background;
        }
      }
    }

    ~ label {
      @include after {
        content: "";
        position: absolute;
        left: $controls-label-before-size / 2;
      }
    }
  }
}

.is-validated .control {
  > .checkbox:required {
    &:checked ~ .feedback.is-valid {
      @extend %display-block;
    }
    &:not(:checked) ~ .feedback.is-invalid {
      @extend %display-block;
    }
  }
}
