//
// COde
//

code {
  padding: $code-padding;
  margin-right: $code-margin-x;
  margin-left: $code-margin-x;
  background: $code-background;

  @include border-radius();
  @include font-size($code-font-size);
}

// Blocks of code
pre {
  code {
    position: relative;
    display: block;
    padding: $pre-code-padding;
    border-left: $border-width-wide solid $primary;
    @include border-radius-left(0);
    @include before {
      content: attr(fluid-lang);
      position: absolute;
      top: 5px;
      right: -1px;
      padding: $pre-code-langbadge-padding;
      color: clr-auto($pre-code-langbadge-background, $black, $white);
      background: $pre-code-langbadge-background;
      text-transform: $pre-code-langbadge-texttransform;
      font-weight: $pre-code-langbadge-fontweight;
      @include border-radius-left();
    }
  }
}
