//
// COde
//

code {
  @include font-size($code-font-size);
  padding: $code-padding;
  margin-right: $code-margin-x;
  margin-left: $code-margin-x;
  background: $code-bg;
  @if $design-shadow-else-border {
    border: $border-width-default solid $border-color;
  }
  @include border-radius($border-radius-default);

  word-break: break-word;
}
