//
// COde
//

code {
  position: relative;
  padding: $code-padding;
  margin-right: $code-margin-x;
  margin-left: $code-margin-x;
  background: $code-bg;

  @include border();
  @include border-radius($border-radius-default);
  @include font-size($code-font-size);
  @include before {
    content: attr(fluid-lang);
    position: absolute;
    top: 5px;
    right: 7.5px;
  }
}

// Blocks of code
pre {
  code {
    padding: 1rem;
    @if $design-shadow-else-border {
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
      border-left: $border-width-wide solid;
      border-color: $primary;
    }
    display: block;
    @include border-radius-left(0);
  }
}
