//
// Control
//
// Used to combine different components and objects into one control
// The main control needs to be the first child of Control class to work properly

label.control {
  > label {
    pointer-events: none;
  }
}

.control {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 2.25px;
  margin-bottom: 2.25px;
  @include fontsize($font-size-normal);

  //
  // feedback inside control
  //
  > .feedback {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: none;
    padding: $control-feedback-padding;
    margin-bottom: $control-feedback-arrow-size + $control-feedback-offset-bottom;
    border-radius: border-radius();
    color: $control-feedback-color;
    box-shadow: box-shadow($control-feedback-shadow);
    @include gradient-bg($control-feedback-background, 180deg);

    @include before {
      content: "";
      position: absolute;
      right: $control-feedback-arrow-offset-right;
      bottom: -($control-feedback-arrow-size * 2);
      @include triangle(bottom, $control-feedback-arrow-size, $control-feedback-background);
    }
  }

  &.is-valid > .feedback.is-valid {
    @extend %display-block;
  }

  &.is-invalid > .feedback.is-invalid {
    @extend %display-block;
  }
}
