  .menu-item,
  .dropdown {
    margin-left: 0; // override style from nested menu
    white-space: nowrap; // prevent wrapping of text
  }

  > .menu {
    position: absolute;
    top: 100%;
    z-index: $dropdown-zindex;
    display: none; // hide menu to display over interaction
    overflow: visible; // override style from .menu to display Nested menu outside its context
    min-width: $dropdown-minwidth;
