//
// Embed
//

@if $generate-component-classes {
  //
  // Doc : add Doc
  //

  .embed {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    padding: 0;

    @include before {
      content: "";
      display: block;
      $EMBED-RATIO-DEFAULT: map-get($aspect-ratios, $embed-ratio-default); // get default embed ratio from map $aspect-ratio
      padding-top: percentage(map-get($EMBED-RATIO-DEFAULT, x) / map-get($EMBED-RATIO-DEFAULT, y)); // get co-ordinates of default embed ratio
    }
  }

  .embed-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  $ASPECT-RATIOS: map-remove($aspect-ratios, $embed-ratio-default); // remove default embed-ratio as its already set on embed
  @each $key, $ratio in $ASPECT-RATIOS {
    .embed.is-#{$key} {
      @include before {
        padding-top: percentage(map-get($ratio, y) / map-get($ratio, x));
      }
    }
  }
}
