//
// Group
//

// Used to combine various inputs together
@if $generate-component-classes {
  // Group addons
  .group > .addon {
    @extend %control;

    // separate from control placeholder to keep placeholder Priority/Precedence low
    &:not(.btn):not(.input) {
      user-select: auto; // allow user to select text inside addon
      border-color: $group-addon-border-color;
      background-color: $group-addon-background;

      &:not(a) {
        pointer-events: none;
      }
    }
  }

  //
  // Base styles
  //
  .group {
    display: flex;
    flex-wrap: wrap;

    &.is-lg {
      > .input,
      > .addon,
      > .btn {
        padding: $group-padding-y-lg $group-padding-x-lg;
      }
    }

    > .input,
    > .addon,
    > .btn {
      @include hover-focus {
        z-index: $group-items-hover-focus-zindex;
      }
    }

    &:not(.is-y) {
      > .input,
      > .addon,
      > .btn {
        margin-right: -$border-width-default / 2;
        margin-left: -$border-width-default / 2;
        &:not(:first-child):not(:last-child) {
          border-radius: border-radius(0);
        }
        &:first-child {
          @include border-radius-right(0);
        }
        &:last-child {
          @include border-radius-left(0);
        }
      }
    }

    &.is-y {
      > .input,
      > .addon,
      > .btn {
        margin-top: -$border-width-default / 2;
        margin-bottom: -$border-width-default / 2;
        &:not(:first-child):not(:last-child) {
          border-radius: border-radius(0);
        }
        &:first-child {
          @include border-radius-bottom(0);
        }
        &:last-child {
          @include border-radius-top(0);
        }
      }
    }

    // purge/unstyle borders and border radius property from items, other than start end and in-between items
    &.is-purge {
      &:not(.is-y) {
        > .input,
        > .addon,
        > .btn {
          // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
          border-top: 0;
          border-bottom: 0;
          border-radius: border-radius(0);

          &:first-child {
            // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
            border-left: 0;
          }
          &:last-child {
            // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
            border-right: 0;
          }
        }
      }
      &.is-y {
        > .input,
        > .addon,
        > .btn {
          // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
          border-right: 0;
          border-left: 0;
          border-radius: border-radius(0);

          &:first-child {
            // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
            border-top: 0;
          }
          &:last-child {
            // avoid using @mixin to remove borders independent of `$design-shadow-else-border` option
            border-bottom: 0;
          }
        }
      }
    }
  }

  .group.buttons {
    display: inline-flex; // override display property for buttons group
  }
}
