//
// Group
//

// Used to combine various inputs together
@if $generate-component-classes {
  //
  // Base styles
  //
  .group {
    display: inline-flex;

    > .input,
    > .button {
      @include hover-focus {
        z-index: 10;
      }
    }

    &:not(.is-vertical) {
      > .input,
      > .button {
        margin-right: -$border-width-default / 2;
        margin-left: -$border-width-default / 2;
        &:not(:first-child):not(:last-child) {
          @include border-radius(0);
        }
        &:first-child {
          @include border-radius-right(0);
        }
        &:last-child {
          @include border-radius-left(0);
        }
      }
    }
    &.is-vertical {
      > .input,
      > .button {
        margin-top: -$border-width-default / 2;
        margin-bottom: -$border-width-default / 2;
        &:not(:first-child):not(:last-child) {
          @include border-radius(0);
        }
        &:first-child {
          @include border-radius-bottom(0);
        }
        &:last-child {
          @include border-radius-top(0);
        }
      }
    }
  }
}
