//
// List
//

@if $generate-component-classes {
  .list {
    padding-left: 0;

    > .list-item {
      display: block; // no need to set list-style to none as the list items are already set to display block instead of display list
    }
  }

  .list.is-inline {
    display: block;
    > .list-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: $list-inline-padding;
      }
    }
  }
}
