//
// Menu
//

.menu {
  display: block;
  padding: $menu-padding-y 0; // reset list style to custom value
  margin: 0; // reset list style
  @include fontsize($fontsize-normal);
  @include menu-variant($controls-theme); // default Menu variant styles
}

//
// Menu items
//
.menu-item {
  @extend %controls;
  display: flex;
  width: 100%; // reset button style
  padding-left: $nestedMenu-marginleft; // indent .menu-items in .menu
  border: 0; // reset button style // override %controls style
  border-radius: border-radius(0); // override %controls style
  text-align: left; // reset button style

  @include before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 0 solid currentColor;
    @include transition(
      $menu-item-before-transition,
      border-color 2s cubic-bezier(1, 0, 1, 0), // retain border-color till border width be 0 // Required For IE
      color 2s cubic-bezier(1, 0, 1, 0) // retain border-color till border width be 0 // Required For Edge
    );
  }

  &:not(.active) {
    // Style focus state to show elements is in focus state using tab
    @include hover-focus {
      @include before {
        @include transition($menu-item-before-transition); // remove border-color and color transition to quickly change border-color as border appear
        border-left-width: $menu-item-before-borderwidth;
      }
    }
  }

  @include hover{
    text-decoration: none; // reset anchor decoration
  }

  @include focus {
    outline: 0; // reset button style
  }

  @include not-disabled {
    @extend %cursor-pointer; // add "hand" cursor to non-disabled button elements.
  }

  @include disabled {
    @extend %controls-disabled;
  }
}

//
// Color variants
//
@each $color, $value in $theme-colors {
  .menu.is-#{$color} {
    @include menu-variant($value);
  }
}

//
// Nested Menu
//
// Implementation of Nested menu is not included as it requires a bit of JavaScript
// Following JavaScript Code implements nested Menu Implementation and work with major Latest Browsers
//
// var menutriggers = document.getElementsByClassName("menu-trigger");
// Object.keys(menutriggers).forEach(function (k) {
//   menutriggers[k].onclick = function (e) {
//     e.target.classList.toggle("active");
//   };
// });
//

// Menu Trigger Needs to be First element in nestedMenu
.menu-trigger {
  @include after {
    content: "";
    align-self: center;
    margin-top: $menu-trigger-margintop;
    margin-left: auto; // align .menu-trigger caret to end of flex
    @include triangle(bottom, $menu-trigger-caret-size, currentColor);
  }

  &.active {
    @include after {
      transform: rotate(180deg) translateY(50%);
    }
  }

  &:not(.active) {
    // Hide everything else inside menu
    ~ * {
      display: none;
    }
  }
}

.menu .menu {
  overflow: hidden; // Prevent .menu-items from going outsize menu after applying margin-left
  padding: 0; // remove padding from nested Menu
  @include fontsize(inherit);

  *:not(.menu-trigger) {
    @include animation($nestedMenu-animationname, false, $nestedMenu-animationduration);
    margin-left: $nestedMenu-marginleft; // indent nested Menu items
  }
}

// divider inside menu
.menu > .divider {
  padding: $controls-padding-y 0;
}
