//
// Range Control
//

@if $generate-component-classes {
  .range {
    @extend %controls;

    display: block; // override %controls style
    width: 100%;
    height: 1.5em; // match height with other controls like checkbox, switch, range
    padding: 0; // override %controls style
    // stylelint-disable-next-line property-no-vendor-prefix
    -moz-appearance: none;
    // stylelint-disable-next-line property-no-vendor-prefix
    -webkit-appearance: none;
    appearance: none;
    color: $controls-color;

    @include focus {
      outline: 0;
    }

    // Note : Using Mixin instead of placeholder to split styles across multiple rulesets to have an effect.

    // Thumb
    &::-webkit-slider-thumb {
      @include range-thumb;
    }

    &::-moz-range-thumb {
      @include range-thumb;
    }

    &::-ms-thumb {
      @include range-thumb;
    }

    @include hover {
      &::-webkit-slider-thumb {
        transform: scale($range-thumb-hover-focus-scale);
        border-width: $range-thumb-hover-focus-borderwidth;
      }

      &::-moz-range-thumb {
        transform: scale($range-thumb-hover-focus-scale);
        border-width: $range-thumb-hover-focus-borderwidth;
      }

      &::-ms-thumb {
        transform: scale($range-thumb-hover-focus-scale);
        border-width: $range-thumb-hover-focus-borderwidth;
      }
    }

    // Track
    &::-moz-range-track {
      @include range-track;
    }

    &::-webkit-slider-runnable-track {
      @include range-track;
    }

    &::-ms-track {
      color: transparent; // remove stripped line
      @include range-track;
    }

    &::-ms-fill-lower {
      background: $controls-theme;
    }

    @include focus-active {
      &::-moz-range-track {
        background-color: currentColor;
      }

      &::-webkit-slider-runnable-track {
        background-color: currentColor;
      }

      &::-ms-fill-lower {
        color: inherit;
        background: currentColor;
      }
    }

    @include disabled {
      @extend %controls-disabled;
    }
  }

  //
  // Color variants
  //
  @each $color, $value in $theme-colors {
    .range.is-#{$color} {
      color: $value;
    }
  }
}
