//
// Set
//
// Used to combine different components and objects into one set
// The main control needs to be the first child of set

.input-set {
  position: relative;
  margin-top: 2.25px;
  margin-bottom: 2.25px;
  @include fontsize(1rem);

  > .input {
    @include fontsize(inherit);
    height: 100%;
    margin: 0; // remove margin from input and apply it to the set
  }

  &.has-icon-left {
    > .input {
      ~ .icon {
        z-index: $group-items-hover-focus-zindex + 1;
        pointer-events: none;
        opacity: $set-input-icon-opacity;
      }

      @include focus {
        & ~ .icon {
          opacity: 1;
        }
      }
    }
  }

  > .feedback {
    position: absolute;
    right: 0;
    bottom: 100%;
    display: none;
    padding: $set-input-feedback-padding;
    margin-bottom: $set-input-feedback-arrow-size + $set-input-feedback-offset-bottom;
    border-radius: border-radius();
    color: $set-input-feedback-color;
    background: $set-input-feedback-background;
    box-shadow: box-shadow($set-input-feedback-shadow);

    @include before {
      content: "";
      position: absolute;
      right: $set-input-feedback-arrow-offset-right;
      bottom: -($set-input-feedback-arrow-size * 2);
      @include triangle(bottom, $set-input-feedback-arrow-size, $set-input-feedback-background);
    }
  }
}

.input-set.is-valid > .feedback.is-valid {
  @extend %display-block;
}

.input-set.is-invalid > .feedback.is-invalid {
  @extend %display-block;
}

.is-validated .input-set {
  > .input:required {
    &:valid ~ .feedback.is-valid {
      @extend %display-block;
    }
    &:invalid ~ .feedback.is-invalid {
      @extend %display-block;
    }
  }
}
