//
// Switch Control
//
.control {
  > .switch {
    @extend %controls-hide;
    @extend %controls-label;

    @include active(":checked") {
      ~ label {
        @include after {
          left: $controls-label-before-size + ((($switch-circle-size / 100%) - 1em) / -2);
          border: 1px solid currentColor;
          background-color: $switch-active-circle-background;
          box-shadow: none;
        }
      }
    }

    ~ label {
      padding-left: $switch-label-paddingleft;
      @include before {
        width: $switch-width;
        border-radius: border-radius($border-radius-pill, 0);
      }

      @include after {
        content: "";
        position: absolute;
        top: 50%;
        left: ((($switch-circle-size / 100%) - 1em) / -2);
        transform: translateY(-50%);
        width: $controls-label-before-size + (($switch-circle-size / 100%) - 1em);
        height: $controls-label-before-size + (($switch-circle-size / 100%) - 1em);
        border-radius: border-radius(50%, 0);
        opacity: inherit; // Fix : disabled opacity on %controls-label in IE
        background: $controls-label-bordercolor;
        @include transition($switch-circle-transition);
        box-shadow: inset 0 0 0 1px $controls-label-bordercolor, inset 0 0 0 2px $white;
      }
    }
  }
}
