//
// Switch Control
//
.control {
  > .switch {
    @extend %controls-hide;
    @extend %controls-label;

    @include active(":checked") {
      ~ label {
        @include after {
          left: $switch-width - $switch-circle-size;
          background-color: $switch-active-circle-background;
          box-shadow: none;
        }
      }
    }

    ~ label {
      padding-left: $switch-label-paddingleft;
      @include before {
        width: $switch-width;
        border-radius: border-radius($border-radius-pill, 0);
      }

      @include after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%) scale(.9); // decrease switch size so that there is a bit of margin on side
        width: $switch-circle-size;
        height: $switch-circle-size;
        border-radius: border-radius($border-radius-circle, 0);
        opacity: inherit; // Fix : disabled opacity on %controls-label in IE
        background: $switch-circle-bordercolor;
        box-shadow: 0 0 0 1px $switch-circle-bordercolor, inset 0 0 0 1px $white; // Make Circle Appear Bigger
        @include transition($switch-circle-transition);
      }
    }
  }
}
