//
// Timeline
//

//
// Item
//
.timeline-item {
  position: relative; // to position line in the item
  padding-left: $timeline-item-spacing + $timeline-item-spacing / 2;
  gap: $timeline-item-spacing * 2; // Gap between column in dual mode
  grid-template-columns: repeat(2, 1fr); // Set no of column to 2 in dual mode

  @include before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: $timeline-item-spacing / 2;
    transform: translateX(-50%);
    width: $timeline-item-line-width;
    background-color: $timeline-item-line-background;
  }

  @include after {
    content: "";
    position: absolute;
    top: $timeline-item-dot-topspace;
    left: $timeline-item-spacing / 2;
    transform: translateX(-50%);
    width: $timeline-item-dot-size;
    height: $timeline-item-dot-size;
    border-radius: $timeline-item-dot-borderradius;
    background-color: $timeline-defaulttheme;
    box-shadow: $timeline-item-dot-shadow;
  }

  // Flip even .timeline-item childs position in dual mode
  &:nth-child(even) > :first-child {
    grid-column: 2;
    grid-row: 1;
  }
}

//
// Date
//
.timeline-date {
  justify-self: flex-start; // decrease width to only content in dual mode
  display: inline-block; // decrease width to only content
  align-self: flex-start; // align the date to top in dual mode
  padding: $timeline-date-padding;
  border-radius: $timeline-date-borderradius;
  color: $timeline-date-color;
  box-shadow: $timeline-date-shadow;
  @include gradient-background($timeline-date-background, 180deg);
}

//
// Content
//
.timeline-content {
  padding: $timeline-content-padding;
}

//
// Dual Mode
//
.timeline.is-dual {
  @include timeline-dual;
}

// responsive dual mode
@each $breakpoint in map-keys($breakpoints) {
  $breakpoint-suffix: prefix(name-breakpoint($breakpoint), "\\"+ $breakpoints-above-prefix);

  @include media-breakpoint-above($breakpoint) {

    .timeline.is-dual#{$breakpoint-suffix} {
      @include timeline-dual;
    }
  }
}

//
// Color variants
//
@each $color, $value in $theme-colors {
  .timeline.is-#{$color} {
    @include timeline-variant($color, $value);
  }
}
