//
// Code Settings
//

$code-font-size:                    0.85em !default;
$code-bg:                           $gray-200 !default;
$code-margin-x:                     .2em !default;
$code-padding:                      .2em .4em .1em !default;
