//
// Font Settings
//

$font-size-default:            14px !default;
$font-family-sans-serif:       -apple-system, // Safari for OS X and iOS (San Francisco)
                               blinkmacsystemfont, // Chrome < 56 for OS X (San Francisco)
                               "Segoe UI", // Windows 6+
                               "PingFang SC", // East Asian languages // Simplified Chinese
                               "Hiragino Sans GB", // East Asian languages // Japanese
                               "Ubuntu", // Ubuntu 10.10+
                               "Cantarell", // Gnome 3+
                               "Noto Sans", // KDE Plasma 5+
                               "Helvetica Neue", // fallback
                               arial, // fallback
                               sans-serif, // fallback
                               "Apple Color Emoji", // macOS emoji
                               "Segoe UI Emoji", // Windows emoji
                               "Segoe UI Symbol", // Windows emoji
                               "Noto Color Emoji" !default; // Linux emoji
$font-family-serif:            georgia, cambria, "Times New Roman", times, serif !default;
$font-family-monospace:        "Menlo", // macOS 10.10+
                               "Ubuntu monospace", // Ubuntu 10.10+
                               "Noto Mono", // KDE Plasma 5+
                               "Oxygen Mono", // KDE Plasma 4+
                               "Liberation Mono", // Linux/OpenOffice
                               "Courier New", // fallback
                               monospace !default; // fallback
$font-weight-lighter:          lighter !default;
$font-weight-light:            300 !default;
$font-weight-normal:           400 !default;
$font-weight-bold:             700 !default;
$font-weight-bolder:           bolder !default;
$line-height:                  1.5 !default;

// Derived Settings

$font-size-small:              $default-small-quantity * 1rem !default;
$font-size-large:              $default-large-quantity * 1rem !default;
$font-family-default:          $font-family-sans-serif !default;
$font-weight-default:          $font-weight-normal !default;
