//
// Heading Settings
//

//
// Inherit
//
$headings-marginbottom:        $space-typography !default;

$h1-fontsize:                  $fontsize-normal * 2.5 !default;
$h2-fontsize:                  $fontsize-normal * 2 !default;
$h3-fontsize:                  $fontsize-normal * 1.75 !default;
$h4-fontsize:                  $fontsize-normal * 1.5 !default;
$h5-fontsize:                  $fontsize-normal * 1.25 !default;
$h6-fontsize:                  $fontsize-normal !default;

//
// Setting
//
$headings-color:               null !default;
$headings-fontfamily:          null !default;
$headings-fontweight:          $fontweight-bold !default;
$headings-fontstyle:           null !default;
$headings-lineheight:          1.2 !default;
