//
// Heading Settings
//

//
// Inherit
//
$headings-margin-bottom:       $space-default-typography !default;

$h1-font-size:                 $font-size-normal * 2.5 !default;
$h2-font-size:                 $font-size-normal * 2 !default;
$h3-font-size:                 $font-size-normal * 1.75 !default;
$h4-font-size:                 $font-size-normal * 1.5 !default;
$h5-font-size:                 $font-size-normal * 1.25 !default;
$h6-font-size:                 $font-size-normal !default;

//
// Setting
//
$headings-color:               $gray-900 !default;
$headings-font-family:         null !default;
$headings-font-weight:         500 !default;
$headings-font-style:          null !default;
$headings-line-height:         1.2 !default;
