//
// Horizontal rule Settings
//

//
// Inherit
//
$hr-margin-y:        $space-typography * 2 !default;

//
// Setting
//
$hr-color:           inherit !default;
$hr-height:          1px !default;
$hr-opacity:         .5 !default;
