//
// Horizontal rule Settings
//

$hr-color:           inherit !default;
$hr-opacity:         .25 !default;

// Derived Settings

$hr-height:          1px !default;
$hr-margin-y:        $space-default-typography * 2 !default;
