//
// Title Settings
//

$title-size:                   5rem !default;
$title-color:                  $headings-color !default;

// Derived Settings

$title-line-height:            $headings-line-height !default;
