//
// Title Settings
//

//
// Inherit
//
$title-lineheight:             $headings-lineheight !default;

//
// Setting
//
$title-color:                  $headings-color !default;
$title-size:                   5rem !default;
