//
// Breadcrumbs settings
//

//
// Setting
//
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding-x:         .5em !default;
$breadcrumb-margin-bottom:          1rem !default;
$breadcrumb-divider-color:          $gray-600 !default;
$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                "🠚" !default;
