//
// Breadcrumbs settings
//

//
// Setting
//
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-padding-x:              1rem !default;
$breadcrumb-item-padding-x:         .5em !default;
$breadcrumb-marginbottom:           1rem !default;
$breadcrumb-divider-color:          $disabled !default;
$breadcrumb-divider:                "🠚" !default;

$breadcrumb-active-color:           $breadcrumb-divider-color !default;
