//
// Button Settings
//

//
// Inherit
//

$button-focus-box-shadow:                        $controls-focus-box-shadow !default;

$button-iscircle-padding:                        .625em !default;

//
// Setting
//
$button-theme:                                   $controls-theme !default;
$button-theme-light:                             $controls-theme-light !default;
$button-transition-minimal:                      box-shadow, bottom !default;

$button-disabled-background:                     $controls-disabled-background !default;
