//
// Button Settings
//

//
// Inherit
//
$button-padding-x:                               $input-padding-x !default;
$button-padding-y:                               $input-padding-y !default;
$button-border-radius:                           $input-border-radius !default;
$button-focus-width:                             $input-focus-width !default;
$button-font-family:                             $input-font-family !default;
$button-font-weight:                             $input-font-weight !default;
$button-line-height:                             $input-line-height !default;
$button-disabled-opacity:                        $input-disabled-opacity !default;

//
// Setting
//
$button-theme:                                   $input-theme !default;
$button-disabled-background:                     $input-disabled-background !default;
$button-iscircle-padding:                        1em !default;
$button-transition:                              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;
$button-transition-minimal:                      box-shadow .15s ease-in-out, bottom .15s ease-in-out !default;
