//
// Button Settings
//

// Settings

$button-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$button-active-box-shadow:       inset 0 3px 5px rgba($black, .125) !default;

$button-block-spacing-y:         .5rem !default;

$button-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !default;

// Derived Settings

$button-padding-y:               $input-padding-y !default;
$button-padding-x:               $input-padding-x !default;
$button-font-family:             $input-font-family !default;
$button-line-height:             $input-line-height !default;

$button-padding-y-small:            $input-padding-y-small !default;
$button-padding-x-small:            $input-padding-x-small !default;
$button-line-height-small:          $input-line-height-small !default;

$button-padding-y-large:          $input-padding-y-large !default;
$button-padding-x-large:          $input-padding-x-large !default;
$button-line-height-large:        $input-line-height-large !default;

$button-border-width:            $input-border-width !default;

$button-font-weight:             $font-weight-normal !default;
$button-focus-width:             $input-focus-width !default;
$button-focus-box-shadow:        $input-focus-box-shadow !default;
$button-disabled-opacity:        $input-disabled-opacity !default;

$button-border-radius:           $border-radius-default !default;
$button-border-radius-large:        $border-radius-large !default;
$button-border-radius-small:        $border-radius-small !default;
