//
// Checkbox
//

//
// Setting
//
$checkbox-checked-arrow-size:                    $controls-label-before-size / 2 !default;
$checkbox-checked-arrow-top:                     45% !default; // slightly lesser than 50% to align arrow in center by shape
$checkbox-checked-arrow-borderwidth:             .12em !default;
$checkbox-checked-arrow-color:                   $white !default;

$checkbox-indeterminate-width:                   $controls-label-before-size / 2 !default;
$checkbox-indeterminate-height:                  2px !default;
$checkbox-indeterminate-background:              $checkbox-checked-arrow-color !default;
