//
// control Settings
//
// Shared Settings between various controls

//
// Inherit
//
$control-border-width:                           $border-width-default !default;
$control-border-radius:                          $border-radius-default !default;
$control-line-height:                            $line-height !default;
$control-font-weight:                            $font-weight-normal !default;

//
// Setting
//
$control-theme:                                  $gray-600 !default;
$control-theme-light:                            $gray-300 !default;
$control-color:                                  $body-color !default;
$control-background:                             transparent !default;
$control-border-color:                           transparent !default;
$control-padding-y:                              .375em !default;
$control-padding-x:                              .75em !default;
$control-font-family:                            null !default;
$control-transition:                             color, background-color, border-color, box-shadow !default;

$control-focus-width:                            .2rem !default;
$control-focus-box-shadow:                       0 0 0 $control-focus-width !default; // color is explicitly defined on usage

$control-disabled-background:                    $control-theme !default;
$control-disabled-opacity:                       .5 !default;
