//
// Dropdowns
//

$dropdown-menu-minwidth:            100% !default;
$dropdown-menu-spacer:              .25em !default;
$dropdown-menu-background:          $white !default;
$dropdown-menu-borderradius:        $borderradius-default !default;
$dropdown-menu-boxshadow:           $boxshadow-round !default;
$dropdown-menu-zindex:              1000 !default;

$dropdown-trigger-caret-size:       $menu-trigger-caret-size !default;
