//
// Group Settings
//

//
// Setting
//
$group-items-hover-focus-zindex:         10 !default;

$group-addon-background:                 $light !default;
$group-addon-bordercolor:                $controls-theme-light !default;

$group-lg-padding-y:                     .75rem !default;
$group-lg-padding-x:                     1.25rem !default;
