//
// Group Settings
//

//
// Setting
//
$group-items-hover-focus-zindex:         10 !default;

$group-addon-background:                 $light !default;
$group-addon-border-color:               $control-theme-light !default;

$group-padding-y-lg:                     .75rem !default;
$group-padding-x-lg:                     1.25rem !default;
