//
// Input Settings
//

//
// Inherit
//
$label-marginbottom:                             $space-typography !default;

//
// Settings
//
$input-minheight:                                ($controls-lineheight * 1em) + ($controls-padding-y * 2) + (convert-unit($borderwidth-default, em) * 2) !default;
$input-background:                               $controls-label-background !default;
$input-bordercolor:                              $controls-label-bordercolor !default;
$input-boxshadow-inner:                          inset 0 1px 2px rgba(clr-auto($input-background), .1) !default;

$input-placeholder-color:                        $controls-label-bordercolor !default;

$input-icon-size:                                1rem * 1.3 !default;
$input-icon-padding:                             1 + convert-unit($controls-padding-x, rem) * 1.7 !default;
$input-icon-position-right:                      ($input-icon-padding - $input-icon-size) / 2 !default;
