//
// List Settings
//

$list-inline-padding:               .5em !default;

$list-group-color:                  inherit !default;
$list-group-bg:                     $white !default;

$list-group-item-padding-y:         .75em !default;
$list-group-item-padding-x:         1.25em !default;

$list-group-active-bg:              $primary !default;
$list-group-active-border-color:    $list-group-active-bg !default;

$list-group-disabled-color:         $gray-600 !default;
