//
// Menu
//

//
// inherit
//

$menu-trigger-caret-size:                 $control-feedback-arrow-size !default;

$menu-item-before-borderwidth:            $borderwidth-wide !default;
$menu-item-border-direction:              right !default;
$menu-item-themes-generate:               false !default;

//
// Setting
//
$menu-trigger-caret-color:                currentColor !default;

$menu-item-before-transition:             border-width .15s linear !default;

$nestedMenu-indent:                       $controls-padding-x * 2 !default;
$nestedMenu-animationname:                fadein !default;
$nestedMenu-animationduration:            .3s !default;
