//
// Radio / Checkbox Control
//

//
// Setting
//
$control-radio_checkbox-background:                      $input-background !default;
$control-radio_checkbox-bordercolor:                     $controls-theme-light !default;

// Radio
$control-radio-checked-borderwidth:                      .35em !default;

//
// Derived
//
$control-radio_checkbox-size:                            1.143em !default; // use 16 px controls
$control-radio_checkbox-paddingleft:                     $control-radio_checkbox-size * 1.5 !default;
