//
// Radio Settings
//

//
// Settings
//
$radio-background:                               $white !default;
$radio-size:                                     1rem !default;
$radio-bordercolor:                              $controls-theme-light !default;
$radio-paddingleft:                              $radio-size * 1.5 !default;

$radio-checked-borderwidth:                      4px !default;

$radio-disabled-color:                           $controls-theme-light !default;
