//
// Range
//

//
// Inherit
//
$range-thumb-hover-focus-borderwidth:                   $borderwidth-wide !default;

//
// Setting
//
$range-track-height:                                    .22rem !default;
$range-track-background:                                $controls-theme-light !default;
$range-track-boxshadow:                                 inset 0 1px 2px rgba(clr-auto($range-track-background), .2) !default;
$range-track-transition:                                background !default;

$range-thumb-width:                                     1em !default;
$range-thumb-background:                                $white !default;
$range-thumb-border:                                    1px solid currentColor !default;
$range-thumb-boxshadow:                                 1px 1px 2px 0 rgba(0, 0, 0, .15) !default;
$range-thumb-transition:                                transform, border !default;

//
// Derived
//
$range-thumb-hover-focus-scale:                         1.1 !default;
$range-thumb-height:                                    $range-thumb-width !default;
