//
// Borders Settings
//

$border-color:       $gray-300 !default;

$border-width-default:       1px !default;
$border-width-wide:          3px !default;

$border-radius-default:       .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;
