//
// Basic Colors Settings
//

$blue:          hsl(209, 100%, 55%) !default;
$indigo:        hsl(260, 100%, 55%) !default;
$purple:        hsl(259, 59%, 55%) !default;
$pink:          hsl(327, 82%, 55%) !default;
$red:           hsl(357, 91%, 55%) !default;
$orange:        hsl(31, 96%, 55%) !default;
$yellow:        hsl(52, 96%, 55%) !default;
$green:         hsl(100, 77%, 55%) !default;
$teal:          hsl(162, 73%, 55%) !default;
$cyan:          hsl(180, 82%, 55%) !default;
$brown:         hsl(15, 25%, 55%) !default;
$lime:          hsl(77, 85%, 55%) !default;
$gold:          hsl(40, 96%, 55%) !default;
$volcano:       hsl(15, 96%, 55%) !default;
$geekblue:      hsl(228, 82%, 55%) !default;
$vividvoilet:   hsl(281, 100%, 55%) !default;

$colors: (
  "blue":         $blue,
  "indigo":       $indigo,
  "purple":       $purple,
  "pink":         $pink,
  "red":          $red,
  "orange":       $orange,
  "yellow":       $yellow,
  "green":        $green,
  "teal":         $teal,
  "cyan":         $cyan,
  "brown":        $brown,
  "lime":         $lime,
  "gold":         $gold,
  "volcano":      $volcano,
  "geekblue":     $geekblue,
  "vividvoilet":  $vividvoilet,
) !default;

//
// Grayscale Colors Settings
//

$white:          #fff !default;
$gray-100:       hsl(0, 0%, 94%) !default;
$gray-300:       hsl(0, 0%, 72%) !default;
$gray-500:       hsl(0, 0%, 50%) !default;
$gray-600:       hsl(0, 0%, 39%) !default;
$gray-700:       hsl(0, 0%, 28%) !default;
$gray-800:       hsl(0, 0%, 17%) !default;
$gray-900:       hsl(0, 0%, 6%) !default;
$black:          #000 !default;


//
// Theme Colors Settings
//

$primary:         $purple !default;
$secondary:       $gray-500 !default;
$valid:           $green !default;
$info:            $cyan !default;
$warn:            $yellow !default;
$error:           $red !default;
$light:           $gray-100 !default;
$dark:            $gray-700 !default;

$theme-colors: (
  "primary":         $primary,
  "secondary":       $secondary,
  "valid":           $valid,
  "info":            $info,
  "warn":            $warn,
  "error":           $error,
  "light":           $light,
  "dark":            $dark
) !default;


// Combine All colors if $enable-all-color-variant option is enabled
@if $enable-all-color-variant {
  $theme-colors: map-merge($colors, $theme-colors);
}

// design color steps interval
$color-step-interval:       10% !default;
