//
// Horizontal rule Settings
//

$hr-margin-y:        $space-default !default;
$hr-color:           inherit !default;
$hr-opacity:         .25 !default;
$hr-height:          $border-width-default !default;
