//
// Menu Mixin
//

//
// Theme Variant Mixin
//
@mixin menu-variant($color) {
  .menu-item {
    // Style focus state to show elements is in focus state using tab
    @include hover-focus {
      border-color: $color;
      background-color: clr-step($color, -8);
    }

    &.active {
      color: clr-auto($color);
      background-color: $color;
    }
  }
}
