//
// Animated Shapes
//

// Loading Spinner Shape to indicate loading process
@mixin loading-spinner($color: $primary) {
  position: relative;
  @include before {
    content: "";
    position: absolute;
    top: calc(50% - (1em / 2));
    right: 0;
    bottom: 0;
    left: calc(50% - (1em / 2));
    width: 1rem;
    height: 1rem;
    border: .15rem solid;
    border-color: transparent $color $color $color;
    border-radius: $border-radius-pill;
    // avoid using @mixin animation to generate radius independent of `$enable-transitions` option
    animation: spin 1s infinite linear;
    @include include-keyframe(spin);
  }
}

// Mixin to override Loading spinner shape color
@mixin loading-spinner-color($color) {
  @include before {
    border-color: transparent $color $color $color;
  }
}
