//
// Basic Shapes
//
@mixin triangle($direction: bottom, $size: 6px, $color: currentColor) {
  $direction-inverse-map: (
    top: bottom,
    right: left,
    bottom: top,
    left: right
  );

  $direction-inverse: map-get($direction-inverse-map, $direction);

  border: $size solid transparent;
  border-#{$direction-inverse}-color: $color;
  border-#{$direction}: 0;
}
