//
// Text-transform
//

@if $generate-utilities-classes {
  $config: (
    responsive: false,
    properties: text-transform,
    class: text,
    values: (
      lowercase: lowercase,
      uppercase: uppercase,
      capitalize: capitalize,
      reset: initial
    ),
    enable-important-values: true
  );

  @include generate-class($config);
}
