//
// Text-align
//

@if $generate-utilities-classes {
  $config: (
    responsive: true,
    properties: text-align,
    class: text,
    values: left right center justify,
    enable-important-values: true
  );

  @include generate-class($config);

  $config: (
    responsive: false,
    properties: vertical-align,
    class: text,
    values: baseline top middle bottom sub super,
    enable-important-values: true
  );

  @include generate-class($config);
}
